*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Josefin Sans", sans-serif;
    height: 100%;
    background: #fff;
}

.header{
    background: top / cover no-repeat url(images/bg-mobile-light.jpg);
    color: #fff;
    padding: 40px 25px 70px 25px;
    z-index: 1;
}

.header-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.title{
    width: fit-content;
    text-transform: uppercase;
}

.theme-switch{
    width: fit-content;
}
.theme-image{
    width: 26px;
    height: 26px;
}

.input-group{
    display: flex;
    width: 100%;
    padding: 15px 10px;
    background: #fff;
    border: solid 1px transparent;
    border-radius: 6px;
}

.input-checkbox{
    width: 27px;
    height: 25px;
    border: solid 1px hsl(233, 11%, 84%);
    border-radius: 50%;
    margin-right: 10px;
}

.checkbox{
    width: 25px;
    height: 25px;
    border: solid 1px hsl(233, 11%, 84%);
    border-radius: 50%;
    margin-right: 10px;
}

.checkbox.checked{
    background: center / 50% no-repeat url(images/icon-check.svg), linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

#task-input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
}


#task-input::placeholder{
    font-family: "Josefin Sans", sans-serif;
    color: hsl(236, 9%, 61%);
}

#task-input.error::placeholder{
    color: red;
    font-weight: 600;
}

.main{
    padding: 0 25px 50px 25px;
    margin-bottom: 30px;
    background: transparent;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 10px 15px 20px hsl(234, 39%, 85%), -10px 0px 20px hsl(234, 39%, 85%);
    position: relative;
    top: -25px;
    z-index: 2;
    background: #fff;
}

.todo{
    width: 100%;
    display: flex;
    align-items: center;
    border: solid 1px transparent;
    border-bottom-color: hsl(233, 11%, 84%);
    padding: 15px 20px;
    font-size: 13px;
    background: transparent;
}

.todo:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.delete-icon{
    margin-right: 0;
    margin-left: auto;
}


.info-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px transparent;
    padding: 15px 20px;
    background: transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: hsl(236, 9%, 61%);
    font-size: 15px;
}

.clear-completed{
    border: none;
    background: transparent;
    font-family: "Josefin Sans", sans-serif;
    color: hsl(236, 9%, 61%);
}


.filter-group{
    position: absolute;
    margin-top: 20px;
    background: #fff;
    padding: 15px 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 10px 15px 20px hsl(234, 39%, 85%), -10px 0px 20px hsl(234, 39%, 85%);
}

.status{
    border: none;
    background: transparent;
    font-family: "Josefin Sans", sans-serif;
    color: hsl(236, 9%, 61%);
    font-weight: 600;
}

.status:not(:last-child){
    margin-right: 10px;
}
button.active{
    color: hsl(220, 98%, 61%);
}

.information{
    text-align: center;
    color: hsl(236, 9%, 61%);
    margin-bottom: 50px;
}

.attribution{
    margin-bottom: 30px;
}

/* dark mode */

body.dark{
    background: hsl(235, 21%, 11%);
}

.header.dark{
    background: top / cover no-repeat url(images/bg-mobile-dark.jpg);
}

.input-group.dark{
    background: hsl(235, 24%, 19%);
}

.input-group.dark #task-input{
    color: hsl(234, 39%, 85%);
}

.container.dark{
    background: hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);
    box-shadow: 2px 2px 5px hsl(240, 7%, 15%), -2px 0px 5px hsl(240, 7%, 15%);
}

.container.dark .todo{
    border-bottom-color: hsl(233, 14%, 35%);
}

.info-bar.dark{
    background: hsl(235, 24%, 19%);
}

.filter-group.dark{
    background: hsl(235, 24%, 19%);
    color: hsl(234, 11%, 52%);
    box-shadow: 2px 2px 5px hsl(240, 7%, 15%), -2px 0px 5px hsl(240, 7%, 15%);
}

.information.dark{
    color: hsl(233, 14%, 35%);
}

/* dragging  and droping*/

.todo.dragging{
    opacity: 0.6;
}